package templates

templ Index() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Golang TODO</title>
			<link rel="stylesheet" href="/css/output.css"/>
		</head>
		<body>
			@Hello("John")
		</body>
	</html>
}
